# Kopieren nach secrets.yaml und Werte eintragen:
#   cp secrets.yaml.example secrets.yaml
wifi_ssid: "YourWiFiSSID"
wifi_password: "YourWiFiPassword"
api_encryption_key: "dNE6ksBF/atbbqqYKojeYHpVxfkxOZ1IUVJj+f0Wqrg="
